@model OurRoots.WebUI.Models.Users.UserListViewModel
@{
    ViewBag.Title = PageData["pageTitle"];
    string roleName = PageData["roleName"];
    string roleTitle = PageData["roleTitle"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string companyName = Settings.COMPANY_NAME;
}

 <!-- Section:  -->
<section>
    <div class="container pb-30">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="line-bottom">Site Administrators.</h3>
                 
                        @Html.Bootstrap().ActionLinkButton("New " + roleTitle, "New").RouteValues(new { roleName = roleName }).Style(ButtonStyle.Primary).AppendIcon("fa fa-plus")

                    <br/><hr/>

                        <div class="table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Full Name</th>
                                        <th>Email Address</th>
                                        <th>Active?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Users.Count() > 0)
                                    {
                                        foreach (var item in Model.Users)
                                        {
                                            <tr>
                                                <td>@Html.Bootstrap().ActionLinkButton("View", "Show", "Users").RouteValues(new { roleName = roleName, @id = item.DisplayId }).Style(ButtonStyle.Info)</td>
                                                <td>@Html.ActionLink(String.Format("{1}, {0}", item.FirstName, item.LastName), "Show", "Users", routeValues: new { roleName = roleName, @id = item.DisplayId }, htmlAttributes: null)</td>
                                                <td>@Html.EmailLink(item.Email)</td>
                                                <td>@InputHelper.ParseBool(item.EmailConfirmed)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="clearfix">
                            <div class="pull-right">
                                <div class="pagination-panel">
                                    <div class="pagination-labels">@Model.PagingInfo.ItemsFrom to @Model.PagingInfo.ItemsTo of @Model.PagingInfo.TotalItems users</div>
                                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", "Users", new { page = x }))
                                </div>
                            </div>
                        </div>

                
                </div>

            </div>
        </div>
    </div>
</section>



