@model OurRoots.WebUI.Models.Users.ProfileViewModel
@{
   
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string companyName = Settings.COMPANY_NAME;

    string action, cancel_url, buttonText, instr, glyph;
    bool isAdmin = PageData["isAdmin"];
    string roleName = PageData["roleName"];
    string roleTitle = PageData["roleTitle"];

    if (!string.IsNullOrEmpty(Model.UserId)) {
        cancel_url = Url.Action("Show", new { id = Model.User.DisplayId, roleName = roleName });
        action = "Update";
        buttonText = "Update Profile";
        instr = "Modify the details and click Update to apply changes";
        glyph = "glyphicon glyphicon-thumbs-up";
        ViewBag.Title = "Update Admin";
    }
    else {
        cancel_url = Url.Action("Index");
        action = "Create";
        buttonText = "Create " + roleTitle;
        instr = "Complete the form below and click Create to create a new " + roleTitle;
        glyph = "glyphicon glyphicon-plus";
        ViewBag.Title = "Create " + roleTitle;
    }

    // If user access, change the return url
    if (!isAdmin) {
        cancel_url = Url.Action("Index", "Account");
    }
}

<!-- Section:  -->
<section>
    <div class="container pb-30">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="line-bottom">@ViewBag.Title.</h3>

                    <p>
                        @instr
                    </p>

                    @Html.Bootstrap().ActionLinkButton("Account", "Index", "Users").Style(ButtonStyle.Success)

                    @Html.ValidationSummary(true)
                    @using (var f = Html.Bootstrap().Begin(new Form(action)))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.UserId)
                                <fieldset>
                                    <legend>Personal details</legend>
                                    <div class="alert alert-warning @(roleName == "admins" ? "hide" : "")">
                                        Enter the name as it appears on the users passport
                                    </div>
                                    @f.FormGroup().DropDownListFor(m => m.TitleId, Model.Titles.Select(x => new SelectListItem { Value = x, Text = x })).OptionLabel("Select title")
                                    @f.FormGroup().TextBoxFor(m => m.FirstName).Placeholder()
                                    @f.FormGroup().TextBoxFor(m => m.LastName).Placeholder()
                                    @*<div class="@(roleName == "admins" ? "hide" : "")">
                            @f.FormGroup().EditorFor(m => m.DOB)
                        </div>*@
                                </fieldset>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <fieldset>
                                    <legend>Contact details</legend>
                                    @f.FormGroup().EditorFor(m => m.Phone)
                                    @f.FormGroup().EditorFor(m => m.Email)
                                </fieldset>
                                <fieldset>
                                    <legend>Activate user</legend>
                                    <div class="alert alert-warning">
                                        Activating a user will grant them access to the system so they can use @Settings.COMPANY_ABBR services.
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(m => m.Activate)
                                    </div>
                                </fieldset>
                                @*@if (isAdmin && !string.IsNullOrEmpty(Model.UserId) && Model.UserId != Model.EditUserId) {
                        <fieldset>
                            <legend>Activate user</legend>
                            <div class="alert alert-warning">
                                Activating a user will grant them access to the system so they can use @Settings.COMPANY_ABBR services.
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.Activate)
                            </div>
                        </fieldset>
                    }*@
                                @*<fieldset>
                        <legend>Branch Details</legend>
                        @f.FormGroup().DropDownListFor(m => m.BranchId, Model.Branches.Select(x => new SelectListItem { Value = x.BranchId.ToString(), Text = x.Name })).OptionLabel("Select Branch")

                    </fieldset>*@
                            </div>

                        </div>
                        <div class="form-submit">

                            @Html.Bootstrap().SubmitButton().ButtonBlock().Text(buttonText).Style(ButtonStyle.Warning)
                        </div>
                    }



                </div>

            </div>
        </div>
    </div>
</section>



